html, body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
#all-projects {
	position: relative;
}
#single-project-wrapper {
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: right 500ms ease;
	transition-property: opacity;
}
#single-project {
	padding: 50px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#single-project-image {
	margin-right: 50px;
	position: relative;
	z-index: 1;
	transform: translateX(50%);
	margin-right: 0;
	width: auto;
	min-width: 50%;
	max-width: 50%;
	max-height: calc(100vh - 80px); 
	opacity: 0;
	transition: transform 500ms ease;
	transition-property: transform, margin-right, opacity;	
}
#single-project-desc {
	transform: none; /*translateX(-50%);*/
	width: calc(50% - 50px);
}

#single-project-desc {
	opacity: 1;
}
#bj-app.single #single-project-image, #bj-app.single #single-project-desc {
	transform: none;
	opacity: 1;
}
#bj-app.single {
	overflow: hidden;
	height: 100%;
}
#bj-app.single #single-project-image {
	transition-delay: 400ms;
	margin-right: 50px;
}
.close-btn {
	color: #fff;
    position: fixed;
    top: 5px;
    right: 18px;
    font-size: 30px;
    font-weight: 300;
}
#bj-app.single #single-project-desc {
	transition-delay: 400ms;
}

#single-project-desc .desc-row {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
}
#single-project-desc .desc-row:not(:last-child) {
	margin-bottom: 10px;
}
#single-project-desc .desc-label{
	color:#aaa;
	font-weight: 500;
	width: 60px;
	flex-shrink: 0;
}
#single-project-desc .desc-value{
	color: #fff;
	font-weight: 300;

}
.desc-client, .desc-role, .desc-project {
	transform: translateX(-20px);
	opacity: 0;
	transition: transform 400ms ease;
	transition-property: transform, opacity;
}
#bj-app.single .desc-client, #bj-app.single .desc-role, #bj-app.single .desc-project {
	transform: none;
	opacity: 1;
}
#bj-app.single .desc-client {
	transition-delay: 600ms;
}
#bj-app.single .desc-role {
	transition-delay: 700ms;
}
#bj-app.single .desc-project {
	transition-delay: 800ms;
}
#bj-app {
	background-color: #fff;
	transition: background-color 500ms ease;
}
#bj-app.single {
}
#bj-app.single #single-project-wrapper {
	opacity: 1;
}
#bj-app.single #all-projects-wrapper {
	overflow: hidden;
}
#bj-app.single #all-projects {
	/*transform: translateX(50%);*/
}
#bj-app.all #single-project-wrapper, #bj-app.all #single-project-wrapper * {
	pointer-events: none;
}
#bj-app.all #single-project-wrapper {
	opacity: 0;
}
#bj-app.all #all-projects {
	opacity: 1;
	transform: none;
}
#logo {
	font-family: 'Julius Sans One', sans-serif;
	margin-top: 50px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#tag-line {
	font-size: 35px;
	font-family: 'Cormorant Garamond', serif;
	font-style: italic;
	text-align: center;
	line-height: 40px;
	margin-top: 80px;
}
.link {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	position: absolute;
}
#resume-link, #email-link {
	padding: 20px 10px;
	outline: none !important;
}
#email-link > svg {
	width: 26px;
	height: auto;
	fill: #666;
}
#resume-link > svg {
	width: 26px;
	height: auto;
	fill: #666;
	stroke: none;
}
#email-link > svg,
#resume-link > svg {
	transition: fill 200ms ease;
}
#email-link:hover > svg,
#resume-link:hover > svg {
	fill: #cc444a;
}
#project-panels {
	margin-top: 100px;
	padding-bottom: 100px;
	
}
.project-panel {
	user-select: none;
	position: relative;
	margin-bottom: 30px;
	background-color: #333;
	cursor: pointer;
}
.project-panel .desc {
	display: none;
}
.project-panel > img {
	width: 100%;
	opacity: 1;
	transition: opacity 500ms ease;
}
.project-panel .project-title {
	pointer-events: none;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	color: #fff;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 16px;
	text-transform: uppercase;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*top: 47%;*/
    /*left: 50%;*/
    transform: translateY(40px);
    transition: opacity 500ms ease;
    transition-property: opacity, transform;
    text-shadow: 0 3px 6px rgba(0,0,0,0.4);
    opacity: 0;
}
#bj-app:not(.single) .project-panel:hover > img {
	opacity: 0.2;
}
.project-panel:hover .project-title {
	opacity: 1;
	transform: none;
}
.pp-zink { background-color:#88a08a; }
.pp-dotandjonny { background-color:#cc444a; }
.pp-flowers { background-color:#45426B; }
.pp-uhills { background-color:#525A54; }
.pp-beevsmoth { background-color:#7A5E32; } /*#604A27*/
.pp-texasmonthly { background-color:#3481A3; }

@media (max-width: 767px) {
	#single-project {
		flex-flow: column;
		justify-content: flex-start;
		height: 100vh;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	#bj-app.single #single-project-image {
		margin-right: 0;
	}
	#single-project-image {
		margin: 0;
		order: 2;
		width: 100%;
		transform: translateY(-100px);
		margin-bottom: 0px;
		max-width: initial;
		max-height: initial;
	}
	#single-project-desc {
		margin-bottom: 50px;
		order: 1;
		width: 100%;
	}
 	.desc-client, .desc-role, .desc-project {
		transform: translateY(40px);
	}
}